{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ stock.name }} ({{ stock.ticker }})</h5>
        {% if stock.logo %}
            <img src="{{ MEDIA_URL }}{{ stock.logo }}" width="80" class="mb-3">
        {% endif %}
        
        <form method="post" action="{% url 'stock:buy' stock.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Купить</button>
        </form>
        
        <a href="{% url 'stock:list' %}" class="btn btn-secondary mt-3">Назад к списку</a>
    </div>
</div>
{% endblock %}