<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список акций</title>
</head>
<body>
    <h1>Список акций</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Тикер</th>
                <th>Компания</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>